/*
    * Course: SENG 513
    * Date: Oct 23, 2023
    * Assignment 2
    * Name: Anish Pokhrel
    * UCID: 30115576
*/

/* applies border-box to every element! this way padding
    doesn't affect width of elements
*/
* {
    box-sizing: border-box;
}

.container {
    position: relative;
    display: inline-block; /* allows items to stack up on top*/ 
}

.healthbar-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;  
} 


.outer-healthbar {
    position: relative;
    height: 30px;
    width: 100%;
}

.player-health {
    /* display: flex;
    position: relative;
    height: 30px;
    width: 100%;
    justify-content: flex-end;
    background-color: green;
    border: 3px solid black; */
    background-color: red;
    height: 30px;
    width: 100%;
}

.healthbar {
    position: absolute;
    background: #818cf8;

    /* take up full width and height of parent div*/
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

/* .healthLayout {
    position: relative;
    height: 30px;
    width: 100%;
} */

/* .totalHealthBar {
    position: absolute;
    background-color: #5cf664;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
} */

#timer {
    /* font-size: 35px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center; */
    background-color: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
}

#result-message {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: black;
    inset: 0;
}

/* .game {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} */



